ul, ol{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  height: 11%;
  background-color: #133046;
  padding: 20px 0;
}

#Maville{
  max-width: 220px;
  max-height: 100px;
  margin-left: 20px;
  position: absolute;
  top: 10px;

}

#titrepageprincipale{
  color: white;
  font-size:2em;
  text-align: center;
}

#log{
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 25px;
  background-color: #BF0C2B;
  border: 25px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;

}

:root {

  --navColor1: #133046;
  --navColor2: #133046;
  --navColor3: #BF0C2B;
  --navColor4: #BF0C2B;
  --navColor5: white;
  --navColor6: white;
}

html {
  box-sizing: border-box;
}

body {
  background: white;
  margin: 0;
}

h1 a {
  text-decoration: none;
  color: var(--navColor1);
  transition: all 0.5s ease-in;
}

h1 a:hover {
  background-color: var(--navColor1);
  color: #fff;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  height: 100vh;
  left: 0;
  position: fixed;
  transform: translateX(-100vw);
  top: 0;
  width: 100vw;
  z-index: 9;
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}
/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 16.666666%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: transform 0.5s ease;
  font-weight: bold;
  font-size: x-large;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: '';
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: -240px;
  opacity: 0;
  transition: all 0.3s ease;
}

nav li a:hover::before {
  left: 0;
  opacity: 1;
}

*{
  font-family: arial;

nav li:nth-of-type(1) {
  background-image:linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url("../image/41-11.jpg");

}

nav li:nth-of-type(2) {
  background-image:linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url("../image/41-21.jpg");
}

nav li:nth-of-type(3) {
  background-image:linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url("../image/41-31.jpg");
}

nav li:nth-of-type(4) {
  background-image:linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url("../image/41-41.jpg");
}

nav li:nth-of-type(5) {
  background-image:linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url("../image/41-51.jpg");
}


nav li:nth-of-type(6) {
  background-image:linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url("../image/41-61.jpg");

}


/* Slide in animation with delay for each nav item */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;


}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

.slide-in-6 {
  animation: slide-in 0.4s linear 1.2s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each nav item */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;

}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}
.slide-out-6 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
  top: 10%;
  right: 3%;

}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 8px 0;
  transition: 0.4s;

}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

#titre1 {
  width:auto;
  height:30px;
  margin: 10px 100px;

  background-color: #EEE;

  padding-left: 40px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
 box-shadow: 0px 3px 6px rgba(0,0,0, 0.5);

}

#titrepageprincipale{
  color: white;
  font-size:2em;
  text-align: center;
}

.bienvenue{
  text-align: center;
  font-size: 1.5em;
}

.parent{
  height: 1000px;
  padding-right:  45px;

  float: left;
  margin-left: 30px;
  width: 45%;
  text-align: center;
  margin-top: 25px;
  border-right:  solid;




}
#maDivGauche{
  font-size: 2em;
  text-decoration: underline;
}


#maDivGauche2{
  font-size: 2em;
  text-decoration: underline;
  margin-top: 75px;



}

.parent2{

  height: 1000px;
  float: right;
  margin-right: 31px;
  width: 45%;
  text-align: center;
  margin-top: 25px;

}

#maDivDroite {
  font-size: 2em;
  text-decoration: underline;
}
#maDivDroite2{
  font-size: 2em;
  text-decoration: underline;
  margin-top: 64px;

}
h2{
  font-size: 1.2em;

}



#textdefin{
  padding-top: 15px;
}


.hide{display: none;}

#DUKES{
  max-width: 400px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.caption{
  text-align: center;
}

#Etoiles{
  max-width: 400px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.caption{
  text-align: center;
}

#SCO{
  max-width: 400px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.caption{
  text-align: center;
}

#HAND{
  max-width: 400px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.caption{
  text-align: center;
}

.footer{
  margin-top: 1100px;
  color:white;
  background-color: #133046;
  text-align: center;
  font-style:italic;
  height: 15%;
  width: 100%;


}
