ul, ol{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  height: 15%;
}

.block-header{
  background-color: #133046;
  padding: 20px 0;
}
#Maville{
  max-width: 220px;
  max-height: 100px;
  margin-left: 20px;
  position: absolute;
  top: 10px;
}
#titrepageprincipale{
  color: white;
  font-size:2em;

  text-align: center;
  margin-top: :;
}

:root {

  --navColor1: #133046;
  --navColor2: #133046;
  --navColor3: #BF0C2B;
  --navColor4: #BF0C2B;
  --navColor5: white;
  --navColor6: white;
}

html {
  box-sizing: border-box;
}

body {
  background: url(../image/login.jpg);

  margin: 0;
}

h1 a {
  text-decoration: none;
  color: var(--navColor1);
  transition: all 0.5s ease-in;
}

h1 a:hover {
  background-color: var(--navColor1);
  color: #fff;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  height: 100vh;
  left: 0;
  position: fixed;
  transform: translateX(-100vw);
  top: 0;
  width: 100vw;
  z-index: 9;
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav Menu Items */
nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  transition: transform 0.5s ease;
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: '';
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: -240px;
  opacity: 0;
  transition: all 0.3s ease;
}

nav li a:hover::before {
  left: 0;
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}
nav li:nth-of-type(6) {
  background-color: var(--navColor6);
}

/* Slide in animation with delay for each nav item */
.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

.slide-in-6 {
  animation: slide-in 0.4s linear 1.2s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Slide out animation with delay for each nav item */
.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}
.slide-out-6 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
  top: 10%;
  right: 3%;

}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 8px 0;
  transition: 0.4s;

}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);


}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

#container{
  width:400px;
  margin:0 auto;
  margin-top:10%;
  margin-bottom: auto;

}

form {
  width:100%;
  padding: 30px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-top: -50px;
  margin-bottom: 100px;
}


#container h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #BF0C2B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}

.footer{
  color:white;
  background-color: #133046;
  text-align: center;
  font-style:italic;
  height: 15%;
  margin-bottom: -15px;
  width: 100%;


}
#textdefin{
  padding-top: 15px;
}
/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }
